<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<th:block layout:fragment="content">

	<div class="col-xs-12 col-md-12 mb-3">
		<a href="/users/create" class="btn btn-success">Create new User</a>
	</div>

	<div class="col-xs-12 col-md-12">

		<h4 class="mt-4 mb-4">Listing Users</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td>
						<form th:action="@{/users/delete/{id}(id = ${user.id})}"
							th:method="post">
							<button class="btn btn-danger operacao-de-risco">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>